﻿@model OperadoraModel
@{ 
    ViewBag.Title = "Operadora";
}
<div class="row justify-content-evenly">
    <div class="col align-self-start">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="col align-self-end text-right">
        <a class="btn btn-secondary" asp-controller="SeguroSaude" asp-action="Index" asp-route-command="Operadoras">Voltar</a>
    </div>
</div>
<div class="container">
    <form action="SeguroSaude/Index?command=Operadora" method="post" enctype="application/json">
        <div class="mb-3">
            <label for="txtNome" class="form-label">Nome</label>
            <input name="@nameof(Model.Nome).ToLower()" type="text" class="form-control" id="txtNome" value="@Model.Nome">
        </div>
        <div class="mb-3">
            <label for="txtRazaoSocial" class="form-label">Razão Social</label>
            <input name="@nameof(Model.RazaoSocial).ToLower()" type="text" class="form-control" id="txtRazaoSocial" value="@Model.RazaoSocial">
        </div>
        <div class="mb-3">
            <label for="txtCNPJ" class="form-label">CNPJ</label>
            <input name="@nameof(Model.CNPJ).ToLower()" type="text" class="form-control" id="txtCNPJ" value="@Model.CNPJ">
        </div>
        <div class="mb-3">
            <label for="txtEndereco" class="form-label">Enderço</label>
            <input name="@nameof(Model.Endereco).ToLower()" type="text" class="form-control" id="txtEndereco" value="@Model.Endereco">
        </div>
        <div class="mb-3">
            <label for="txtTelefone" class="form-label">Telefone</label>
            <input name="@nameof(Model.Telefone).ToLower()" type="tel" class="form-control" id="txtTelefone" value="@Model.Telefone">
        </div>
        <div class="mb-3">
            <label for="txtEmail" class="form-label">Email</label>
            <input name="@nameof(Model.Email).ToLower()" type="email" class="form-control" id="txtEmail" value="@Model.Email">
        </div>
        <div class="mb-3 form-check">
            <input name="ativo" type="checkbox" class="form-check-input" id="chkAtivo" value="@Model.Ativo" checked="@Model.Ativo">
            <label class="form-check-label" for="chkAtivo">Ativo</label>
        </div>
        <input type="hidden" name="@nameof(Model.Id).ToLower()" value="@Model.Id" />
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</div>
