﻿@model List<OperadoraModel>
@{
    ViewBag.Title = "Operadoras";
}
<div class="row justify-content-evenly">
    <div class="col align-self-start">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="col align-self-end text-right">
        <a class="btn btn-primary" asp-controller="SeguroSaude" asp-action="Index" asp-route-command="Operadora">Novo</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
        <thead class="table-light">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">CNPJ</th>
                <th scope="col">Nome</th>
                <th scope="col">Razão Social</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr scope="row">
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.CNPJ
                    </td>
                    <td>
                        @item.Nome
                    </td>
                    <td>
                        @item.RazaoSocial
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm" asp-controller="SeguroSaude" asp-action="Index" asp-route-command="Operadora" asp-route-guid="@item.Id"><i class="bi bi-pencil"></i></a>
                        <a class="btn btn-danger btn-sm" asp-controller="SeguroSaude" asp-action="Index" asp-route-command="RemoveOperadora" asp-route-guid="@item.Id"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (Model.Count > 0)
            {
                <li class="page-item">
                    <a class="page-link" href="#">Primeiro</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Anterior</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Próximo</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Último</a>
                </li>
            }
            else
            {
                <li>
                    Nenhum item encontrado
                </li>
            }
        </ul>
    </nav>
</div>