﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Erro";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Ocorreu um erro ao processar sua requisição.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo de desenvolvimento</h3>
<p>
    Mudar para ambiente de <strong>Desenvolvimento</strong> irá exibir maiores detalhes sobre o erro.
</p>
<p>
    <strong>O ambiente de desenvolvimento não deveria ser habilitado em aplicações publicadas.</strong>
    Isto pode resultar em exibição de dados sensíveis.
    Para depuração local, habilite o ambiente de <strong>Desenvolvimento</strong> mudando a variável de ambiente <strong>ASPNETCORE_ENVIRONMENT</strong> para <strong>Development</strong>
    e reinicie o app.
</p>
