﻿@page
@model LogoutModel
@{
    ViewBag.Title = "Sair";
}

<header>
    <h1>@ViewBag.Title</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Clique aqui para sair</button>
            </form>
        }
        else
        {
            <p>Você saiu da sua conta com sucesso.</p>
        }
    }
</header>